body {
  font-family: monospace;
  background-color: antiquewhite;
  color: #777;
  margin-left: 35px;
}

h1 {
  text-align: center;
  line-height: 200%;
}

.main-name {
  font-size: 5rem;
}

img {
  border-radius: 15%;
  display: block;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

li {
  font-size: 24px;
}
